:root {
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;

	--app-color: lightblue;
	--app-dark-color: darkblue;
	--app-font-family: 'Avenir', 'Helvetica', 'Arial', 'sans-serif';
	--font-size-mobile: 14px;
	--font-size-tablet: 15px;
	--font-size-laptop-medium: 18px;
	--font-size-laptop-large: 20px;
}

html {
	box-sizing: border-box;
	height: 100%;
	width: 100%;
}